<ion-menu swipeGesture="false"   side="start" type="push" contentId="main">
  <ion-toolbar>
    <div class="row mt-5">
      <div class="col-4 mt-2">
        <ion-menu-button style="display: table-row;" >
          <ion-icon style="margin-left: 20px;" class="close"  name="close"></ion-icon>
        </ion-menu-button>
      </div>
      <div class="col-8 ion-text-center" style="margin-left: -20px;">
        <span class="dot ion-text-center">
          <img  height="100px" style="margin: 5px;" width="105" src="assets/logo.jpeg" alt="">
        </span>                
      </div>
    </div>
  </ion-toolbar>

<ion-content >
  

  <ion-list id="sideMenuList" class="mt-1"  >
    <div class="row ">
      <div class="col-5">
          <ion-item>
            <img  height="45px"  width="50px" src="assets/icon/home.PNG" alt="">
          </ion-item>
      </div>
      <div class="col-4" style="margin-left: -15px;">
        <ion-menu-button style="display: table-row;" >
          <p [class]="activeItem == 'home' ? 'active list': 'list' "  (click)="home()">Home</p> 
        </ion-menu-button>
        
      </div>
    </div>      
    <div class="row">
      <div class="col-5">
          <ion-item>
            <img  height="45px"  width="50px" src="assets/icon/setalarm.png" alt="">
          </ion-item>
      </div>
      <div class="col-4" style="margin-left: -15px;">
        <ion-menu-button style="display: table-row;" >
          <p [class]="activeItem == 'setalarm' ? 'active list': 'list' "(click)="setalarm()">Set Alarm</p>
        </ion-menu-button>
        
      </div>
    </div>

    <div class="row">
      <div class="col-5">
          <ion-item>
            <img  height="45px"  width="50px" src="assets/icon/myalarms.png" alt="">
          </ion-item>
      </div>
      <div class="col-4" style="margin-left: -15px;">
        <ion-menu-button style="display: table-row;" >
          <p [class]="activeItem == 'myalarms' ? 'active list': 'list' "(click)="myAlarm()">My Alarms</p>
        </ion-menu-button>
        
      </div>
    </div>

    <div class="row">
      <div class="col-5">
          <ion-item>
            <img  height="45px"  width="50px" src="assets/icon/myprofile.png" alt="">
          </ion-item>
      </div>
      <div class="col-4" style="margin-left: -15px;">
        <ion-menu-button style="display: table-row;" >
          <p [class]="activeItem == 'myprofile' ? 'active list': 'list' "  (click)="myprofile()">My Profile</p> 
        </ion-menu-button>
       
      </div>
    </div>

      
    <div class="row">
      <div class="col-5">
          <ion-item>
            <img  height="45px"  width="50px" src="assets/icon/support.png" alt="">
          </ion-item>
      </div>
      <div class="col-4" style="margin-left: -15px;">
        <ion-menu-button style="display: table-row;" >
          <p [class]="activeItem == 'support' ? 'active list': 'list' "  (click)="support()">Support</p> 
        </ion-menu-button>
       
      </div>
    </div>

    <div class="row">
      <div class="col-5">
          <ion-item>
            <img height="45px"  width="50px" src="assets/icon/logout.png" alt="">
            
          </ion-item>
      </div>
      <div class="col-4" style="margin-left: -15px;">
        <ion-menu-button style="display: table-row;" >
          <p [class]="activeItem == 'logout' ? 'active list': 'list' " style="cursor: pointer;" (click)="logout()" class="list">Log out </p>
        </ion-menu-button>
       
      </div>
    </div>
    
  
    
  </ion-list>

  
</ion-content>
</ion-menu>

<ion-router-outlet [animation] = "myCustomPageTransition"  id="main"></ion-router-outlet>