<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h5>Report Seller</h5>
            </div>
            <!-- <div class="col-3">
                <ion-icon (click)="dismiss()" style="margin:15px;cursor:pointer;color:#FF6000" name="close"></ion-icon>
            </div> -->
            <div class="col-4">
               <div>
                <ion-label>Spam Msg</ion-label>
               </div>
                <div>
                    <ion-checkbox color="success"></ion-checkbox>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <ion-label>Offer denied</ion-label>
                </div>
                <div>
                    <ion-checkbox color="success"></ion-checkbox>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <ion-label>store N/A</ion-label>
                </div>
                <div>
                    <ion-checkbox color="success"></ion-checkbox>
                </div>
            </div>
            <div class="col-12">
                <p>Others:</p>
            </div>
            <div class="col-12 ion-text-center">
                
                <input type="text">
                <button class="btn btn-sm submit-btn">Submit</button>
            </div>
        </div>
    </div>
</div>
