*{
  font-family: 'Roboto', sans-serif;
}


.top-container{
  background: linear-gradient(to left, #23a6d5
  0%, #23d5ab
  100%);
  // background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	// background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	// background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);

  // background: linear-gradient(to right, #aa46e0 23%, #5c63f7 76%);
  height:28%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius:  25%;

}
.name{
  font-size: 16px;
  color: #5C5C5C;
  text-align: left;
  font-style: bold;
  font-weight: 550;
  margin: 6px;
}


.edit-name{
    font-size: 15px;
    margin-top: 5px;
}
.profile{
  width:160px;
  height:125px;
  position:relative;
  // top:20%;
  // left:5%;
  margin-top: 15%;
  border: 2px solid #ffffff;
  border-radius:30px;
  z-index: 999;

}
.editprofile{
  width:155px;
  height:150px;
  border-radius:5%;
  margin-bottom: 5px !important;
}
.card{
  box-shadow: 2px 2px 2px 2px #ccc;
  border-radius: 10px;
  margin: 5px;
  width: 80%;
  text-align: left;
}
.col-6{
  margin-bottom: 7px !important;
}
span{
  margin:15px !important;
  font-size: 14px !important;
}

svg{
  margin-left: 5px !important;
}
.myproduct-div{
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  background-color: #fff;
  border:1px solid #ebe6e6;
  border-radius: 8px;
  margin-left: 2% !important;
  margin-right: 5% !important;
  box-shadow: 2px 2px 2px 2px #ebe6e6;
  width:95% !important;
  border-top-left-radius: 25%;
  border-top-right-radius:  25%;
  
  }

// ion-label{
//   margin-bottom:25px;
// }
ion-item{
  --border-color: #fff;
  text-align: left;
  margin:5px;
}
input[type=text] {
  font-size: 13px;
  margin-top: -12px;
  margin-left: -25px;
  
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #23d5ab;
}
input:focus {
  outline: none !important;
  border:2px solid #23d5ab!important;
  box-shadow: 0 0 2px #e9f3ff;
}
#card{
  position:absolute;
  height:150%;
  width:1500px !important;
  margin-left: -10px;
  background-color: rgba(0,0,0,0.4);
  border:1px solid #ebe6e6;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
  margin-top: -215px !important;
  z-index: 999;
}
#modal{
  position:fixed;
  top:20% !important;
  margin:5%;
  background-color: #fff;
  border:1px solid #ebe6e6;
  border-radius: 5px;
  // box-shadow: 2px 2px 2px 2px #ccc;
  width:94% !important;
  animation-name: example;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
  
}
.update-btn{
  border-radius: 5px !important;
  background: linear-gradient(to left, #23a6d5
  0%, #23d5ab
  100%);
  color:#fff;
  height:25px;
  width:25%;
  text-align: center;
  border:1px solid #fff;
  font-size: 12px !important;
  padding: 3px;
  margin:15px !important;
}
.update-category-btn{
  border-radius: 5px !important;
  background: linear-gradient(to left, #23a6d5
  0%, #23d5ab
  100%);
  color:#fff;
  height:25px;
  text-align: center;
  border:1px solid #fff;
  font-size: 12px !important;
  margin-top: 6px;
  margin-right: 10%;
}

.delete-acc-btn{
  text-align: center !important;
  background: linear-gradient(to right, #ff80a0
  0%, #eb154b
  100%);
  margin:5px;
  color: #fff;
  width: 60% !important;
}

.buttonCss {

  button.alert-button:nth-child(1){
    color: red;
  }

  button.alert-button:nth-child(2){
    color: green;
  }
}
ion-chip{
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 5.5);
  margin-bottom: 10px;
  color: #fff !important;
    background: linear-gradient(to right, #555c59
    0%, #1d1f1e
    100%);
}



ion-content {
  --overflow: hidden;
  &::-webkit-scrollbar {
      display: none;
  }
}

