<ion-content>
  
<div class="row">
  <!-- <div class="col-12">
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_5aiuoayk.json" background="transparent"
    speed="1.5" style="width:55%;margin:15%" loop autoplay></lottie-player>
  </div> -->
  <div class="col-12">
    <div style="text-align: center;" class="cover ion-text-center">
      <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_uqv7etbo.json" background="transparent"
        speed="1.5" style="width:75%;margin:10%;margin-top: 5px;" loop autoplay></lottie-player>
    </div>
  </div>
  
</div>
 
</ion-content>